{
  "extends": [
    "oclif",
    "oclif-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier",
    "google",
    "prettier" // prettierのextendsは最後に記述
  ],
  "plugins": ["@typescript-eslint", "unicorn", "jsdoc"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "root": true,
  "rules": {
    "object-curly-spacing": ["off"],
    "unicorn/filename-case": ["off"],
    "jsdoc/require-jsdoc": [
      "error",
      {
        "publicOnly": true,
        "require": {
          "ArrowFunctionExpression": true,
          "ClassDeclaration": true,
          "MethodDefinition": true
        },
        "checkConstructors": false
      }
    ],
    "jsdoc/require-param-type": 0,
    "jsdoc/require-returns": 0,
    "require-jsdoc": 2
  }
}
